
.thumbnail{
    width: 100%;
    
    
}

.video-title{
    font-size: 14px;
    margin-top: 0;
    font-weight: 500;
    line-height: 20px;
    margin-bottom:10px;
}



.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
}


.channel-picture{
    vertical-align: top; 

}


.profile-picture{
    width: 36px;
    border-radius:50px;
}

.profile-picture-container{
    display:inline-block;
    position: relative;
}

.profile-picture-container .tooltip{
    position:absolute;
    font-family: Roboto, Arial;
    
    white-space: nowrap;

    background-color: white;
    border-radius: 6px;

    display: flex;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

    pointer-events: none;
    opacity: 0;
    transition: opacity .15s;

}

.profile-picture-container:hover .tooltip{
    opacity: 1;
}

.tooltip-channel-picture{
    flex:50px;
    padding:8px;
}


.tooltip-profile-picture{
    width: 44px;
    border-radius:50px;
}

.tooltip-channel-info{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top:14px;
    padding-bottom: 14px;
    padding-right: 15px;
}

.tooltip-video-author{
    font-weight: 700;
    flex:1;
    font-size: 14px;
    margin-bottom: 4px;
    
}

.tooltip-subscriber-count{
    flex:1;
    font-size: 12px;
}



.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96,96,96);
}

.video-author{
    margin-bottom: 4px;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:15px;
    row-gap:40px;
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-grid a{
    color: black;
    text-decoration: none !important;
}

.video-grid:hover a {
    
    color: black;
    text-decoration:none; 
    cursor:pointer;  
}


.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom:8px;
    right:5px;
    font-size:12px;
    font-weight:500;
    padding:4px;
    border-radius: 2px;
}